.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondRowContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.secondRowA {
  width: 40%;
}

.secondRowB {
  width: 60%;
}

.aboutMeText {
  font-size: calc(3px + 1.5vmin);
}

.noLoopText {
  font-size: calc(28px + 4vmin);
}

.loopText {
  font-size: calc(28px + 4vmin);
  font-weight: bold;
}

.aboutMe {
  font-size: calc(12px + 3vmin);
  font-weight: bold;
}

.jamesPic {
  width: 70%;
}
