.ExperiencePage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstRowHOME {
  background: url('./images/spiderManBackground.jpg') no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 25vh;
  text-align: center;
}

.firstRowTitleHOME {
  color: white;
  font-size: calc(10px + 6vmin);
  font-weight: bold;
  margin-top: 2%;
}

.secondRowHOME {
  background: url('./images/swaggerBackground2.jpg') no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 25vh;
  text-align: center;
}

.thirdRowHOME {
  background: url('./images/prideBackground2.jpg') no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 25vh;
  text-align: center;
}

.fourthRowHOME {
  background: url('./images/awardsBackground2.jpg') no-repeat center center fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 25vh;
  text-align: center;
}

.ExperiencePage2 {
  display: flex;
  flex-direction: column;
  position:sticky;
}

.clientsTitle {
  margin: 2%;
  text-align: center;
  font-weight: bold;
}

.firstRow-2 {
  display: flex;
  flex-direction: row;
}

.tile-2 {
  width: 20%;
  padding: 2.5%;
  height: 27vh;
}

.footer {
  text-align: center;
}
