.firstContainerSwagger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  min-height: 100vh;
}

.titleRowSwagger {
  display: flex;
  flex-direction: row !important;
}

.leftTitleSwagger {
  display: flex;
  flex-direction: column !important;

}

.titleSwaggerArticle {
  width: 100%;
  font-weight: bolder;
  padding: 10%;
  font-size: calc(10px + 4vmin);
}

.firstRowSwagger {
  display: flex;
  flex-direction: row !important;
}

.secondRowSwagger {
  display: flex;
  flex-direction: row;
}

.swaggerParagraph {
  width: 50%;
  padding: 2%;
  font-size: calc(3px + 1.5vmin);
}

.Slide2Swag {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swaggerslidepic {
  width: 100%;
}

.Slide4 {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 0.25%;
}

.icon2 {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 0.25%;
}
