.PrideSlide1 {
  /* The image used */
  background-image: url("../images/PrideCondoms1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center 75%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.PrideSlide2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pride2 {
  margin-top: 3%;
  width: 80%;
}

.PrideSlide3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pride3 {
  width: 80%;
}


.PrideSlide4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pride4 {
  margin-top: 3%;
  width: 85%;
}


.icon {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 0.25%;
}

.icon2 {
  align-self: flex-end;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 0.25%;
}
